{% extends 'base.html.twig' %}

{% block title %}Edit Filament{% endblock %}

{% block body %}
    <h1>Edit Filament</h1>

    {{ include('filament/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_filament_index') }}">back to list</a>

    {{ include('filament/_delete_form.html.twig') }}
{% endblock %}
