{% extends 'base.html.twig' %}

{% block title %}New FilamentMaterial{% endblock %}

{% block body %}
    <h1>Create new FilamentMaterial</h1>

    {{ include('filament_material/_form.html.twig') }}

    <a href="{{ path('app_filament_material_index') }}">back to list</a>
{% endblock %}
