{% extends 'base.html.twig' %}

{% block title %}New FilamentBasecolor{% endblock %}

{% block body %}
    <h1>Create new FilamentBasecolor</h1>

    {{ include('filament_basecolor/_form.html.twig') }}

    <a href="{{ path('app_filament_basecolor_index') }}">back to list</a>
{% endblock %}
