<!DOCTYPE html>
<html lang="de" class="scroll-smooth focus:scroll-auto">
    <head>
        <title>{{ 'Filament Info'|trans }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="/css/styles.css" rel="stylesheet"> -->
        <link href="{{ basefolder }}/css/all.min.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ basefolder }}/images/filament.png" />
    <style>
        .center-vertical {
            display: flex;
            align-items: center;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    </head>
<body class="antialiased bg-slate-200 text-slate-700 dark:bg-[#202020] dark:text-red-500">
<div>
    {% include "navigation.html.twig" with {'target': target} %}
    {# {% include "breadcrumb.html.twig" with {'target': target, 'breadcrumb': breadcrumb} %} #}
    {% block content %}{% endblock %}
</div>
</body>
</html>